<template>
    <div class="col-md-12">
        <h2>Login Form</h2>
        <hr>
        <b-form @submit="onLoginSubmit" >

            <!-- email place holder-->
            <b-form-group
                id="email-group"
                label-for="email-filed"
                description="enter email"
            >
                <b-form-input
                    id="email-field"
                    type="email"
                    required
                    placeholder="Email address"
                    v-model="form.email"
                >

                </b-form-input>
            </b-form-group>
            <!--end email place holder-->

            <!--password place holder-->
            <b-form-group
                    id="password-group"
                    label-for="password-filed"
                    description="enter password"
            >
                <b-form-input
                        id="password-field"
                        type="password"
                        required
                        placeholder="Enter password"
                        v-model="form.password"
                >
                </b-form-input>
            </b-form-group>
            <!-- end password place holder-->
            <b-button type="submit" variant="primary" class="btn-block">Login</b-button>
        </b-form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    email:'',
                    password:''
                }
            }
        },
        name: "Login",
        // methods
        methods: {
            onLoginSubmit: (e) => {
                e.preventDefault();

                // let data = JSON.stringify(e.form);
                //
                //
                alert(JSON.stringify(this.form));
            }
        }
    }
</script>

<style scoped>

</style>