<template>
  <div id="app">
    <b-navbar toggleable="md" type="dark" variant="info">
      <b-navbar-brand href="/">Boostrap Vue</b-navbar-brand>

        <b-navbar-nav>
          <router-link class="nav-link" to="/">Home</router-link>
          <router-link class="nav-link" to="/about">About</router-link>


        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
          <router-link class="nav-link" to="/login">Login</router-link>
        </b-navbar-nav>


    </b-navbar>

    <div class="container">
        <router-view/>
    </div>

  </div>
</template>

<style >
    .container {
        margin-top: 5%;
    }
</style>
